<div id="left-scroller" data-scroll="left" class="scroller horizontal-scroller"></div>
<div id="right-scroller" data-scroll="right" class="scroller horizontal-scroller"></div>
<div id="top-scroller" data-scroll="top" class="scroller vertical-scroller"></div>
<div id="bottom-scroller" data-scroll="bottom" class="scroller vertical-scroller"></div>