<div class="widget_container">
	<div class="widget_header">
		<div class="widget_title"><%= widget.get('title') %></div>
		<div class="widget_title_edit" style="display: none;">
 			<input type="text" class="widget_title_edit_textbox" />
		</div>
		<div class="widget_controls">
			<img src="/img/delete.png" title="Remove" class="widget_delete_button" />
		</div>
	</div>
	<div class="widget_content">

	</div>
</div>
