<div class="widget_container">
    <div class="widget_header">
        <div class="widget_controls" >
            <img src="/img/delete.png" title="Remove" class="widget_delete_button" style="cursor: pointer;" />
        </div>
    </div>
    <div class="widget_content" class="ui-widget-content">

    </div>
</div>
