.code-editbox {
	width: 100%;
	height: 100%;
	background-color: white;
}

.code-snippet {
	border: 1px;
	border-color: black;
	background-color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.code-content .prettyprint{
	padding: 5px;
	border-radius: 8px;
}
