<div class="code-snippet">
  <?prettify?>
  <pre class="prettyprint code-content"><%= snippet.get('code') %></pre>
  <div class="code-edit" style="display: none;">
    <textarea class="code-editbox"></textarea>
  </div>
</div>