<div class="frame">
    <p class="frametitle"><%= frame.title %></p>
    <div class="frame_title_edit" style="display: none;">
        <input type="text" class="frame_title_editbox" />
        <br /><br />
    </div>
</div>