/*
    Todo list's style
*/

.todolist {
	width   : 100%;
    height  : 100%;


	text-decoration: none;
	text-align: left;
	color: #000;
	display: block;
	font-family: Helvetica, Arial, sans-serif ;
	font-size: 12px;

	border-width:1px;
    border-style:solid;
    border-color:black;

	-moz-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	-webkit-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	box-shadow: 2px 2px 7px rgba(22,22,22,.7);

	overflow: auto;
	list-style-type:none;

	background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */


}

ul li {
    list-style-type: none;
}

.add_task {
	margin-left: 10%;
	width: 80%;
	position: center;
	outline: 0;
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4pxrgba(0,0,0,.2);
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
	border: 1px solid #aaa;



}

.tasks{
	background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

-webkit-padding-start: 10px;
-moz-padding-start: 10px;
padding-start: 10px;

}

.todolist_element input[type="checkbox"] {
  left:5px;
}

.tdtitle {
	text-align: center;
	font-size: 14px;
	color: black;
	font-family: Helvetica, Arial, sans-serif ;

}

.todolist_remove_item {
	cursor: hand;
}