<div class="todolist">
    <p class="tdtitle"><%= todo.title %></p>

    <form id="tasks-list">
    <input type="text" class="add_task" />
    <input type="submit" value=" Add task ">
    </form>
    <hr>

    <ul id="tasks">
        <% _.each(todo.items, function(item) { %>
            <li class="todolist_element">
                <input type="checkbox" data-name="<%= item.name %>" /> 
                <%= item.name %>
            </li>
        <% }); %>
    </ul>
</div>    