/*
    Sticky note's style
*/

.sticky_container {
    /*background-color: yellow;*/
    /*box-shadow..*/
    width   : 100%;
    height  : 100%;


	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;

	-moz-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	-webkit-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	box-shadow: 2px 2px 7px rgba(22,22,22,.7);
}

.sticky_content {
    opacity: 100;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px;
    resize: none;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

