/*
    Sticky note's style
*/

.sticky_container {
    /*background-color: yellow;*/
    /*box-shadow..*/
    width   : 100%;
    height  : 100%;


	text-decoration: none;
	color: #000;

	display: block;

    background: #e2e24a; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e24a 54%, #e5ea9f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,#e2e24a), color-stop(100%,#e5ea9f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e24a 54%,#e5ea9f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e24a 54%,#e5ea9f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e24a 54%,#e5ea9f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e24a 54%,#e5ea9f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e24a', endColorstr='#e5ea9f',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	-webkit-box-shadow: 2px 2px 7px rgba(22,22,22,.7);
	box-shadow: 2px 2px 7px rgba(22,22,22,.7);
}

.sticky_content {
    opacity: 100;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px;
    resize: none;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    cursor: text;
}

.sticky_content_editbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    resize: none;
}
