<div class="sticky_container">
    <div class="sticky_content" data-name="content"><%= humanText %></div>
    <div class="sticky_content" data-name="edit" style="display: none;">
        <textarea class="sticky_content_editbox"><%=  rawText %></textarea>
    </div>
</div>