#widget_bar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.widget_icon {
    float: right;
    margin-right: 6px;
}

/*body {
    overflow: hidden;
} */

#global_panel{
   /* margin:-1000px -1000px;*/
    width: 20000px;
    height: 20000px;
    /*background-color: black;*/
}

#deskify {
    position: fixed;
    top:0;
    left:0;
    margin:15px;
}

#map {
    position: fixed;
    height: 130px;
    width: 200px;
    top:0;
    right: 0;
    margin: 20px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#target {
    position: absolute;
    height: 20%;
    width: 20%;
    top:40%;
    right: 40%;
    border-width:1px;
    border-style:solid;
    border-color:red;
}