#mainContainer {
    z-index: 100;
    
    position: absolute;
    width: 100%;
    top: 41px;
    bottom: 61px;
    overflow: auto;
}

#mainContents {
    margin-top: 20px;
    margin-bottom: 20px;
}

#loadingModal {
    width: auto;
    margin-left: -20px;
}

#loadingModal .modal-body {
    text-align: center;
}
#partyPanel {
    z-index: 200;
    
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #222;
    border: 1px solid #000;
    border-width: 1px 0 0 0;
    
    background-image: -moz-linear-gradient(top,#252525,#151515);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#252525),to(#151515));
    background-image: -webkit-linear-gradient(top,#252525,#151515);
    background-image: -o-linear-gradient(top,#252525,#151515);
    background-image: linear-gradient(to bottom,#252525,#151515);
    
    background-repeat: repeat-x;
    
    color: #ddd;
    
    overflow: hidden;
}

#partyPanel .well {
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 12px;
    background-color: #111;
    box-shadow: 1px 1px 5px #000 inset;
}

#partyPanel .well .btn {
    background-color: #b0b0b5;
    background-image: -moz-linear-gradient(top,#c5c5d0,#b0b0b5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#c5c5d0),to(#b0b0b5));
    background-image: -webkit-linear-gradient(top,#c5c5d0,#b0b0b5);
    background-image: -o-linear-gradient(top,#c5c5d0,#b0b0b5);
    background-image: linear-gradient(to bottom,#c5c5d0,#b0b0b5);
    text-shadow: 0 1px 1px rgba(0,0,0,0.75);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

#partyPanel strong {
    color: white;
}

.mobileAccessFrame .btn-group{
    padding-right: 12px;
}

.mobileAccessFrame p {
    margin: 5px;
    float: left;
}

.partyTitle {
    text-align: center;
}

.playerButton {
    border-radius: 70px;
    width: 36px;
    height: 36px;
    padding: 0;
}

.playerButton i {
    margin-top: 9px;
}

.playerButton-small {
    margin: 8px;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.playerButton-small i{
    margin-top: 1px;
}

#panelExpandedContents {
    overflow: auto;
    height: 100%;
}

#panelShrinkedContents .panel-row > div {
    border-right: 1px #111 solid;
    height: 60px;
    overflow: hidden;
    position: relative;
}

#panelShrinkedContents {
    border-bottom:  1px #111 solid;
}

#shrinkedPlayer {
    border-left: 1px #111 solid;
}

#playlist {
    margin-top: 9px;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000 inset;
}

.songContainer {
    border-left: 1px black solid;
}

.songVignette {
    border-bottom: 1px black solid;
    padding: 2px 10px 2px 5px;
}

.s_currentTrackContainer {
    height: 36px;
    margin-top: 9px;
    padding: 3px 14px;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000 inset;
    position: absolute;
    right: 10px;
    left: 90px;
}

.s_currentTrackContainer p{
    margin: 0px;
}

.s_actionsContainer {
    padding: 12px 6px;
    position: absolute;
}

.dropdown-menu form{
    margin-top: 10px;
    margin-bottom: 0px;
}

.dropdown-menu > form > .form-actions {
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 6px 12px;
}

.btn-link {
    display: inline-block;
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.dropdown-menu .form-actions .btn{
    margin-top: 0px;
}

.expandButton {
    opacity: 0.5;
    position: relative;
    z-index: 250;
}

.expandButton:hover {
    opacity: 1;
    text-decoration: none;
}

#HTMLReporter {
    z-index: 1000;
    position: absolute;
    width: 100%;
    background-color: white;
}

.searchResult {
    padding-bottom: 10px;
}


/** slider **/

.s_sliderContainer{
    margin-right: 10px;
}

.slider {
  width: 100%;
}

.slider > .dragger {
  background: #838790;
  background: -webkit-linear-gradient(top, #d8d0c8, #535760);
  background: -moz-linear-gradient(top, #d8d0c8, #535760);
  background: linear-gradient(top, #d8d0c8, #535760);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 12px;
  height: 12px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #F2E8C4, #616668);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background: -webkit-linear-gradient(top, #3EC9A7, #2B879E);
    background: -moz-linear-gradient(top, #3EC9A7, #2B879E);
    background: linear-gradient(top, #3EC9A7, #2B879E);
    
    border-color: #2B879
}

