#widget_bar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.widget_icon {
    float: right;
    margin-right: 6px;
}

/*body {
    overflow: hidden;
} */

#global_panel{
   /* margin:-1000px -1000px;*/
    width: 20000px;
    height: 20000px;
    /*background-color: black;*/
}